<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#fff;">
        <div class="container">
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="hover-a">
                    @Html.ActionLink("Scheduler", "Index", "Courses", new { area = "" }, new { @class = "navbar-brand" })
                </span>
                    </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="color: #514f51;">
                    <li class="hover-a">@Html.ActionLink("Add-Course", "Create", "Courses")</li>
                    <li class="hover-a">@Html.ActionLink("Calculate-Schedule", "CalculateSchedule", "Courses")</li>
                    @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Scheduler For Courses</p>
        </footer>
    </div>
    <style>
        .hover-a :hover{
            color: #00a88d !important;
            
        }
    </style>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
