@model WebApp_Scheduler.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.CourseCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instructor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instructor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoursPerDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursPerDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfDays)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ScheduleType.DayOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduleType.DayOption)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @if (@Model.StartDate != null)
            {
                @Model.StartDate.Value.ToString("dddd, dd MMMM yyyy")

            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @if (@Model.EndDate != null)
            {
                @Model.EndDate.Value.ToString("dddd, dd MMMM yyyy")

            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
</p>
<p>
    @Html.ActionLink("Back to List", "Index", "Courses", new { IdOfProgram = @Model.ProgramId }, new { @class = "btn btn-default" })
</p>
