@model IEnumerable<WebApp_Scheduler.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayName("Prerequsite")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instructor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoursPerDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduleType.DayOption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @*prerequsite partial model*@
                @{
                    Html.RenderAction("DisplayPrerequsite", new { courseId = item.Id });
                }
                <span> @Html.ActionLink("Change", "AddPrerequisite", new { courseId = item.Id })</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursPerDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduleType.DayOption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<p>
    @{ 
        Html.RenderAction("ProgramDetails");
    }
</p>
<p>

    If you are running this application for first time please click @Html.ActionLink("here","InitialDatabaseEntries")
</p>