@model IEnumerable<WebApp_Scheduler.Models.Course>

@{
    ViewBag.Title = "Index";
}
<style>
    body{
        background-color: whitesmoke;
    }
</style>
<p class="btn btn-default" style="margin: 5px;">
    @Html.ActionLink("Create Program","Create","ProgramDetails") ||
    @Html.ActionLink("Create Course", "Create", "Courses")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayName("Prerequsite")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instructor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoursPerDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduleType.DayOption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @*prerequsite partial model*@
                @{
                    Html.RenderAction("DisplayPrerequsite", new { courseId = item.Id });
                }
                <span> @Html.ActionLink("Change", "AddPrerequisite", new { courseId = item.Id })</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursPerDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduleType.DayOption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<p>
    @{
        Html.RenderAction("ProgramDetails", new { Id = (Model.ToList())[0].ProgramId });
    }
</p>
<p style=" font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: chocolate;">
    @Html.ActionLink("Calculate Schedule", "CalculateSchedule", new { programId = (Model.ToList())[0].ProgramId },new { @class="btn btn-default"}) ||
    @Html.ActionLink("See Calendar", "UpdateCalendar", "Courses", new { programId = (Model.ToList())[0].ProgramId }, new { @class = "btn btn-default" }) ||
    @Html.ActionLink("Generate Calendar", "ProgramTimeline", "Calendars", new { ProgramId = (Model.ToList())[0].ProgramId }, new { @class = "btn btn-default" })
<p>

    To generate Excel Data please click @Html.ActionLink("generate", "Index", "Schedules", new { programId = (Model.ToList())[0].ProgramId }, new { @class = "btn btn-default" })
    Files are generated in Excel Folder on server.
</p>
</p>


<p style="background-color: white;">
    How to use: Create a program if not present >> Add course details in program >> Generate Calendar ( Select holidays for the time line.) >> Calculate Schedule >> See the calendar in Calender.
    If you are running this application for first time please click @Html.ActionLink("here", "InitialDatabaseEntries")
</p>