@model IEnumerable<WebApp_Scheduler.Models.Calendar>
    <style>
            .single-ele {
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                color: #333;
                line-height: 22px;
                box-sizing: border-box;
                font-size: 14px;
                margin-right: 11px;
                margin-bottom: 11px;
                float: left;
                width: 248px;
                height: 210px;
                background: url(/images/backfade.png) no-repeat 0px 0px;
                text-align: center;
            }

            .table-st {
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                color: #333;
                line-height: 22px;
                font-size: 14px;
                text-align: center;
                box-sizing: border-box;
                border-spacing: 0;
                border-collapse: collapse;
                background-color: transparent;
            }

            .caption-st {
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                line-height: 22px;
                border-spacing: 0;
                border-collapse: collapse;
                box-sizing: border-box;
                color: #ffffff;
                font-size: 15px;
                padding-top: 4px;
                padding-bottom: 8px;
                text-align: center;
            }

            .thread-st {
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                color: #333;
                line-height: 22px;
                font-size: 14px;
                text-align: center;
                border-spacing: 0;
                border-collapse: collapse;
                box-sizing: border-box;
            }

            .tbody-st {
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                color: #333;
                line-height: 22px;
                font-size: 14px;
                text-align: center;
                border-spacing: 0;
                border-collapse: collapse;
                box-sizing: border-box;
            }

            .tr-st {
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                color: #333;
                line-height: 22px;
                font-size: 14px;
                text-align: center;
                border-spacing: 0;
                border-collapse: collapse;
                box-sizing: border-box;
            }

            .th-first {
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                border-spacing: 0;
                border-collapse: collapse;
                box-sizing: border-box;
                padding: 0;
                text-align: center;
                line-height: 24px;
                height: 24px;
                color: #a2a2a2;
                font-style: italic;
                width: 36px;
                font-size: 12px;
            }

            /*.th-rest {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            border-spacing: 0;
            border-collapse: collapse;
            box-sizing: border-box;
            padding: 0;
            font-size: 12px;
            text-align: center;
            color: #686868;
            width: 30px;
            line-height: 24px;
            height: 24px;
        }*/

            .tr-rest {
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                color: #333;
                line-height: 22px;
                font-size: 14px;
                text-align: center;
                border-spacing: 0;
                border-collapse: collapse;
                box-sizing: border-box;
            }

            .wknr {
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                border-spacing: 0;
                border-collapse: collapse;
                box-sizing: border-box;
                padding: 0;
                text-align: center;
                line-height: 24px;
                height: 24px;
                color: #a2a2a2;
                font-style: italic;
                width: 36px;
                font-size: 12px;
            }

            .emptycells {
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                border-spacing: 0;
                border-collapse: collapse;
                box-sizing: border-box;
                padding: 0;
                text-align: center;
                color: #686868;
                font-size: 14px;
                width: 30px;
                line-height: 24px;
                height: 24px;
            }

            .td-rest {
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                border-spacing: 0;
                border-collapse: collapse;
                box-sizing: border-box;
                padding: 0;
                text-align: center;
                color: #686868;
                font-size: 14px;
                width: 30px;
                line-height: 24px;
                height: 24px;
            }

            td {
                background-color: lightblue;
                box-sizing: border-box;
                border: 1px solid grey;
                border-radius: 3px 3px;
            }

            .not-selected {
                color: dimgrey;
            }
    </style>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Day ")
        </th>

        <th>
            @Html.DisplayNameFor(model => model.IsHoliday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Date.ToString("dddd")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsHoliday)
            </td>

            <td>
                @item.Date.ToString("dd/MM/yyyy")
            </td>

        </tr>
    }

</table>
